Efemerides_transm/Broadcast_vs_Precise_ephemeris.pdf
Efemerides_transm/PS_Trabajo_Practico_1_2024.pdf
Efemerides_transm/PS_Trabajo_Practico_1_aux_1.pdf
Efemerides_transm/ifag0780_E.01n.txt
Efemerides_transm/rinex210_format.txt
55.pdf
Alfred Kleusberg, P. J. G. Teunissen-GPS for geodesy-Springer (1998).pdf
danchik.pdf
esquema.docx
History_of_GPS-GPS_World_May_2010_I.pdf
History_of_GPS-GPS_World_May_2010_II.pdf
HP-523B-Manual.pdf
HPJ-1957-07.pdf
HPJ-1957-09-Sputnik.pdf
Neil_Ashby_Relativity_GPS.pdf
orbitas_resumen_2024.pdf
Parte_1.docx
Parte_2.docx
Parte_3.docx
Parte_5.docx
Posición del satélite según parámetros orbitales.pdf
Receptores GPS.docx
seeber-satellite-geodesy-2003.pdf
sobel.pdf
Sputnik Schematic 2.png
tn36.pdf
Transit_History.pdf
Voices Of The Satellites-Sputnik 1 Description _ Doppler Shift (Folkways Records 1958) www.mp3mobile.me .mp3
wgs84fin.pdf
yonoulis.pdf
dlog_560a.jpg
Orbitas/eps.2012.09.009.pdf
Orbitas/Fast_transform_from_geocentric_to_geodetic_coordinates.pdf
Orbitas/Orbit_Eccentricity.pdf
Orbitas/shu2010.pdf
Orbitas/TRANSFORMATION_OF_CARTESIAN_TO_GEODETIC_COORDINATES_WITHOUT_ITERATIONS.pdf
Orbitas/sp3c.txt
Orbitas/1716255970511blob.jpg
Orbitas/GeomegneticCoord.jpg
Practica_2/PS_Trabajo_Practico_2_2024.pdf
Practica_2/Relatividad.pdf
Efemerides_transm/TP_1_c.xlsx
GPS_Relatividad.docx
Propagacion.docx
Practica_2/Ej_2.xlsx
sigmund Brandt-2014.pdf
Practica_2/P2-d.ipynb
Ecuaciones de Observación.docx
Practica_2/practica_2.docx
Ecuaciones de Observaci\303\263n.docx
sumando.txt
restando.txt
Combinaciones Lineales de Observables.docx
Practica_2\TREL1480.24o
ADA516975.pdf
TP_2.sln
TP_2/
Practica_3P/S_Trabajo_Practico_3_2024.pdf
Practica_3/analisis de resultados.docx
Ecuaciones de Observación.docx
Practica_4/tabla.ods
Practica_4/tabla.xlsx
Practica_2/PS_Trabajo_Practico_2_2024 - Copy - Copy.pdf
Orbitas/grafico.zip
Orbitas/orbitas.zip
